/*About Page Section*/
.about-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 60px 0;
}

/*Welcome Image*/
.about-wrapper .about-image {
    width: 40%;
}

.about-wrapper .about-image img {
    width: 100%;
    height: auto;
}

/*Welcome Content*/
.about-wrapper .about-content {
    width: 60%;
    padding-left: 40px;
}

.about-wrapper .about-content p {
    font-size: 17px;
    line-height: 2;
    margin: 10px 0;
}

/*Welcome Content List*/
.about-wrapper .about-content ul{
    margin-left: 15px;
}

.about-wrapper .about-content ul li {
    list-style: disc;
    font-size: 17px;
    line-height: 1.6;
    margin: 10px 0;
}

.about-wrapper .title-section {
    text-align: left;
}

/*Welcome Button*/
.about-wrapper .about-btn a {
    text-decoration: none;
    display: inline-block;
    color: #d72517;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 16px;
    text-transform: uppercase;
    border: 3px solid #d72517;
    font-weight: bold;
    transition: all linear .3s;
    margin-top: 20px;
}

.about-wrapper .about-btn:hover a {
    background-color: #d72517;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .about-wrapper{
        flex-direction: column;
    }
    .about-wrapper .about-image,.about-wrapper .about-content{
        width: 100%;
        padding: 0 15px 0 10px;
    }
}