/*Reset*/
figure{
	padding: 0;
	margin: 0;
}

/*Team Page*/
.team-main{
	padding: 60px 0;
	background: #faf4f4;
}

/*Team Title*/
.team-main .title-section p{
	margin-bottom: 40px;
}
.who-we-are-wrapper{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.who-we-are-wrapper section{
	width: 30%;
	padding:10px;
	background: #fff;
}

/*Team Image*/
.who-we-are-wrapper img{
	width: 100%;
}

.who-we-are-wrapper section h3{
	margin-bottom: 10px;
	text-align: center;
}

/*figcaption*/
.who-we-are-wrapper figcaption{
	font-size: 14px; 
	text-align: center;
	margin-top: 5px;
}

/*Team Aside / Our Story*/
.team-main aside{
	padding:40px;
	background-color: #fff;
	margin-top: 30px;
}

.team-main aside p{
	font-family: 'Roboto', sans-serif;
	line-height: 2;
}

.team-main aside h2{
	margin-bottom: 20px
}

@media only screen and (max-width: 992px) {
	.who-we-are-wrapper{
		flex-wrap: wrap;
	}
	.who-we-are-wrapper section{
		width: 45%;
		margin-bottom:20px;
	}
}

@media only screen and (max-width: 600px) {
	.team-main{
		padding:40px 15px;
	}
	.who-we-are-wrapper section{
		width: 100%;
	}
}